/vendor/
.env
/storage/cache/*
/storage/logs/*
/storage/cv/*
!/storage/**/.gitkeep
/data/history/*
!/data/history/.gitkeep
/public/assets/img/projects/**/*
!/public/assets/img/projects/.gitkeep
.phpunit.result.cache
/.phpunit.cache/
node_modules/
.DS_Store
/data/*.lock
/data/*.tmp-*
/backups/
